VITE_API_BASE_URL=https://pj8prscl4l.execute-api.ap-south-1.amazonaws.com/Prod
VITE_COGNITO_USER_POOL_ID=ap-south-1_Y7ZjWvE1e
VITE_COGNITO_CLIENT_ID=6cv9heljeq63h9hdbvc6car5o
VITE_AWS_REGION=ap-south-1
